<!DOCTYPE html>
<html lang="zh-CN">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>Document</title>

  <link rel="stylesheet" href="/static/css/markdown.min.css">
  <link rel="stylesheet" href="/static/css/codemirror.min.css">
  <link rel="stylesheet" href="/static/css/toastify.min.css">
  <link rel="stylesheet" href="/static/css/bs-theme/default.min.css">
  <link rel="stylesheet" href="/static/css/bootstrap-select.min.css">
  <link rel="stylesheet" href="/static/css/app.css?v=1.6.3">
</head>
<body class="webio-theme-default">
<div class="pywebio">
  <div class="container no-fix-height" id="output-container">
    <div class="markdown-body" id="markdown-body">
      <div id="pywebio-scope-ROOT">
        <div style=""><h1>Applications index</h1>
          <ul>
            <li>
              <a href="yongjinjisuan" target="_blank">佣金计算</a>:
              佣金计算
            </li>

            <li>
              <a href="biaogechaifen" target="_blank">表格拆分</a>:
              表格拆分
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div id="end-space"></div>

  </div>

  <div id="input-container">
    <div id="input-cards" class="container"></div>
  </div>
</div>
</body>
</html>
